
*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;

}

/* ************ */
/* ***** HEADER ***** */
/* ************ */
header {
  color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: #000;
}
/* Estilo para el logotipo */
.logo img {
  filter: grayscale(100%); 
  transition: filter 0.3s; 
}
.logo img:hover {
  filter: grayscale(0%);
}


/* ************ */
/* ***** NAVBAR ***** */
/* ************ */

.logo {
  flex: 1;
  text-align: center; 
}

.logo img {
  max-width: 100%;
  height: auto;
}

.menu-principal {
  order: -1; 
}

.menu-principal ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-principal li {
  margin-right: 20px;
}

.menu-principal a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.menu-principal a:hover {
  color: red;
}

.acciones-usuario {
  display: flex;
  align-items: center;
}

.acciones-usuario a {
  margin-left: 20px;
  text-decoration: none;
  color:#000;
 
  transition: color 0.3s ease;
}

.acciones-usuario a:hover {
  color: red;
}

.acciones-usuario a {
  font-size: 20px; 
}


.acciones-usuario i {
  font-size: 20px; 
}

/* ************ */
/* ***** SERCH-BAR ***** */
/* ************ */

.search-bar {
  position: relative;
  width: 250px; 
}

.search-bar input {
  padding: 13px; 
  border: 1px solid #000; 
  border-radius: 20px; 
  outline: none; 
}

.search-bar button {
  padding: 10px; 
  background-color: #fff; 
  color: #000; 
  border: 1px solid #000; 
  border-radius: 20px; 
  cursor: pointer;
}

.search-bar button:hover {
  background-color: red; 
  border-color: #000; 
}

/* ************ */
/* ***** SLIDER ***** */
/* ************ */

.imgslide {
  width: 100%;
  object-fit: cover;
}
.swiper {
  width: 100%;
  height: 500px;
}
.container {
  max-width: 800px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}
/* ************ */
/* ***** NEW STOCK ***** */
/* ************ */
/* New Stock */
.container {
  margin-top: 50px;
}

h2 {
  font-weight: bold;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.image-container,
.img-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Esto crea cinco columnas iguales */
  gap: 30px;
  justify-items: center; 
}

.image-container img,
.img-container img {
  width: 100%;
  margin: 30px;
  max-width: 200px; 
  height: 300px;
  object-fit: cover;
  border: 1px solid #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.image-container img:hover,
.img-container img:hover {
  cursor: pointer;
  transform: scale(1.05); /* Aumenta ligeramente el tamaño */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Añade una sombra */
}


/* ************ */
/* ***** FOOTER ***** */
/* ************ */


footer {
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

footer div {
  margin: 0 20px;
}

footer h3 {
  color: #333;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: #555;
  text-decoration: none;
}

footer ul li a:hover {
  color: #eb0000;
}